{% extends "base.html" %}

{% block content %}

<h1>Create your page here</h1>


<form action="{{ url_for('create_page_post') }}" method="post" enctype="multipart/form-data" class="form-contact">

    <p><label for="name">Name </label><br>
    <input type="text"  id="name" name="name"><br><br>

    <p><label for="last_name">Last name </label><br>
    <input type="text" id="last_name" name="last_name"><br><br>

    <p><label for="sex">Sex </label><br>
    <input type="text" id="sex" name="sex"><br><br>

    <p><label for="age">Age </label><br>
    <input type="text" id="age" name="age"><br><br>

    <p><label for="about">About </label><br>
    <textarea name="about" id="about"></textarea><br><br>

    <p><label for="avatar">Your avatar </label><br>
    <input type="file" id="avatar" name="avatar">

    <p><label for="password">Password (make it reliable and remember it) </label><br>
    <input type="text" id="password" name="password"><br><br>

<input type="submit" value="Add page" name="add">
</form>

{% endblock %}